<h1>Enter your information</h1>

@model User
<form asp-action="Index" asp-controller="Home" method="POST">   <!-- action matches method.  controller specifies in which controller(minus "Controller") that method can be found -->
   <span asp-validation-for="Fname"></span>
   <label asp-for="Fname"></label>
   <input asp-for="Fname">
    Last Name: <input asp-for="Lname">
    Age: <input asp-for="Age">
    Email Address: <input asp-for="Email">
    Password: <input asp-for="Password">
    <input type="submit" value="Submit">
</form>
