@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h1>Dojo_survey Takes 2</h1>
@model User
<form asp-action="CreateNewUser" asp-controller="Home" method="POST">
    <p>
    <span asp-validation-for="Name"></span>
        <label asp-for="Name"></label>
        <input asp-for="Name">
    </p>

    <p>
    <span asp-validation-for="Location"></span>
        <label asp-for="Location"></label>
        <input asp-for="Location">
    </p>

    <p>
    <span asp-validation-for="Language"></span>
        <label asp-for="Language"></label>
        <input asp-for="Language">
    </p>

    <p>
    <span asp-validation-for="Comment"></span>
        <label asp-for="Comment"></label>
        <input asp-for="Comment">
    </p>

    <input value="Create sumthn" type="submit">
</form>