<H1>Submitted Info</H1>

<table>
    <tr>
        <td>
            Name:
        </td>
        <td>
            
        </td>
    </tr>
    <tr>
        <td>
            Dojo Location: 
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            Favorite Language: 
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            Comment: 
        </td>
        <td>

        </td>
    </tr>
</table>