@{
    ViewData["Title"] = "Home Page";
}
<div class="signin">
<div class="text-center">
    <h1 class="display-4">Welcome To Bright Ideas</h1>
</div>


<div style="display:inline; margin:15%;">
    
    @model User
        <form asp-action="ProcessNewuser" asp-controller="Home" method="POST">
            <table>
                <tr><td></td><td>  <h3>Register</h3>   </td></tr>
                <tr>
                    <td>
                        <label asp-for="Name"></label>
                    </td>
                    <td>
                        <input asp-for="Name">
                    </td>
                    <tr>
                        <td></td><td>
                        <span asp-validation-for="Name"></span>
                        </td>
                    </tr>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Alias"></label>
                    </td>
                    <td>
                        <input asp-for="Alias">
                    </td>
                    <tr>
                        <td></td><td>
                        <span asp-validation-for="Alias"></span>
                        </td>
                    </tr>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Email"></label>
                    </td>
                    <td>
                        <input asp-for="Email">
                    </td>
                    <tr>
                        <td></td><td>
                        <span asp-validation-for="Email"></span>
                        </td>
                    </tr>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Password"></label>
                    </td>
                    <td>
                        <input asp-for="Password">
                    </td>
                    <tr>
                        <td></td><td>
                        <span asp-validation-for="Password"></span>
                        </td>
                    </tr>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Confirm"></label>
                    </td>
                    <td>
                        <input asp-for="Confirm">
                    </td>
                    <tr>
                        <td></td><td>
                        <span asp-validation-for="Confirm"></span>
                        </td>
                    </tr>
                </tr>    
                <tr><td></td><td><input value="Register" type="submit"></td></tr>
            </table>
        </form>
</div>
        
    <partial name="IndexLoginPartial"/>

</div>