<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>RazorFun!</title>
        <link rel="stylesheet" href="~/css/style.css"/>

            <style>
        .time{text-align: center; border: 2px black solid; width: 200px; height: 100px; margin: 50px auto; padding: auto;}
        h2{ text-align: center; margin-top: 150px}
        
    </style>

    </head>
    <body>
        <h1>RazorFun</h1>


<!--RAZOR VIEW ENGINE-->
@{
    var StringList = new List<string>
    {
        "one",
        "two",
        "three",
        "four"
    };
        
    foreach(var word in StringList)
    {
        <div>
            <p>@word</p>

       </div>
    }
}
<!--RAZOR VIEW ENGINE-->


<!--DATE TIME-->
<h2>The current time and date:</h2>

<div class="time">
    <h4>@Model.ToLongDateString()</h4>
    <h4>@Model.ToShortTimeString()</h4>
</div>

    </body>
</html>