<div class="toolbar">
    <p>
        <a href="/">Dashboard | </a>
        <span>Products | </span>
        <a href="/orders">Orders | </a>
        <a href="/customers">Customers | </a>
        <a href="/settings">Settings</a>
    </p>
</div>
@model Product
<form asp-action="processNewProduct" asp-controller="Home" method="Post">
    <label asp-for="Name"></label>
        <input asp-for="Name">
        <span asp-validation-for="Name"></span> 
    <label asp-for="Image"></label>
        <input asp-for="Image">
        <span asp-validation-for="Image"></span>
    <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    <label asp-for="Quantity"></label>
        <input asp-for="Quantity">
        <span asp-validation-for="Quantity"></span>
    <input type="submit" value="add">
</form>


@foreach(var product in @ViewBag.AllProducts)
{
    <div class="allProducts">
        <img src="@product.Image" style="height:150px; width:150px; display:inline-block;">
        <p>@product.Name</p>
        <p>(@product.Quantity left)</p>
    </div>
}