@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h1>Welcome to CRUDelicious!</h1>
<h3>Check out some recent dishes</h3>

@foreach(Dish dish in ViewBag.AllDishes)
{
    <p> 
        <a href=@dish.DishId>
        @dish.DishName
        </a> by @dish.ChefName </p>
}




<a href="/new">Add a Dish</a>

