@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h3>Fullness: PLACEHOLDER</h3>
<h3>Happiness: PLACEHOLDER</h3>
<h3>Meals: PLACEHOLDER</h3>
<h3>N-ERRRR-GEEEE PLACEHOLDER</h3>

<div class='boxme'>
    <img src="#" alt="picture of sumthn">
</div>
<div class="formme">
    <form action="feed">
        <input type="submit" value="Feed">
    </form>
    <form action="play">
        <input type="submit" value="Play">
    </form>
    <form action="work">
        <input type="submit" value="Work">
    </form>
    <form action="sleep">
        <input type="submit" value="Sleep">
</form>
</div>