<form action = "/survey" method="post">
    Your name:<input type="text" name='Name'>
    Dojo Location: <select name="Location">
        <option value="Seattle">Seattle</option>
        <option value="Mexico">Mexico for some reason</option>
        </select>
    Favorite Language: <select name= "Language">
        <option value="c#">c#</option>
        <option value="python">python</option>
        </select>
    Comment (optional): <input type="text" name="Comment">
    <button type="submit">Submit</button>
</form>