<h3>
    Home | <a href="Projects">Projects</a> | <a href=Contact>Contact</a>
</h3>
<h1>About Me</h1>
<img src="~/images/38434118_10106460624284237_8437234039177347072_n.jpg" alt="A picture of me">
<p>Leaky Shoes</p>
<p>Some things are said</p>

<p>ALL WORK AND NO PLAY MAKES LEAKY A SAD SAD SAD PANDA</p>
<p>ALL WORK AND NO PLAY MAKES LEAKY A SAD SAD SAD PANDA</p>
<p>ALL WORK AND NO PLAY MAKES LEAKY A SAD SAD SAD PANDA</p>
<p>ALL WORK AND NO PLAY MAKES LEAKY A SAD SAD SAD PANDA</p>
<p>ALL WORK AND NO PLAY MAKES LEAKY A SAD SAD SAD PANDA</p>
<p>ALL WORK AND NO PLAY MAKES LEAKY A SAD SAD SAD PANDA</p>
<p>ALL WORK AND NO PLAY MAKES LEAKY A SAD SAD SAD PANDA</p>
<p>ALL WORK AND NO PLAY MAKES LEAKY A SAD SAD SAD PANDA</p>
<p>ALL WORK AND NO PLAY MAKES LEAKY A SAD SAD SAD PANDA</p>
<p>ALL WORK AND NO PLAY MAKES LEAKY A SAD SAD SAD PANDA</p>
<p>ALL WORK AND NO PLAY MAKES LEAKY A SAD SAD SAD PANDA</p>
<p>ALL WORK AND NO PLAY MAKES LEAKY A SAD SAD SAD PANDA</p>
<p>ALL WORK AND NO PLAY MAKES LEAKY A SAD SAD SAD PANDA</p>
<p>ALL WORK AND NO PLAY MAKES LEAKY A SAD SAD SAD PANDA</p>
<p>ALL WORK AND NO PLAY MAKES LEAKY A SAD SAD SAD PANDA</p>
<p>ALL WORK AND NO PLAY MAKES LEAKY A SAD SAD SAD PANDA</p>